<article class="post" id="post{{idx}}" *ngFor="let item of articles(); let idx=index">
  <app-article-header [item]="item" (delete)="onDeleteArtivle($event)" (changeTitle)="onModifyArticle($event)"></app-article-header>
  <app-article-body [item]="item" [counter]="counter"></app-article-body>
</article>
