<app-header #tHeader></app-header>
<!-- CONTAINER START-->
<section class="container">
  <div class="row">
    <section class="col-md-8 content-wrapper" (click)="tHeader.title='Title Change'">
      <div id="ctl00_cphBody_divError"></div>
      <div id="ctl00_cphBody_PostList1_posts" class="posts">

        <!-- Article START-->
        <app-article-list></app-article-list>
        <!-- Article END-->

      </div>
    </section>

    <!-- Aside START -->
    <aside class="col-md-4 sidebar-wrapper">
      <div id="widgetzone_be_WIDGET_ZONE" class="widgetzone">

        <!-- Search START-->
        <div class="widget search">
          <div class="widget-content">
              <div id="searchbox">
                <input type="text"  #tKeyWord
                [(ngModel)]="keyWord"
                (keyup.escape)="keyWordRest()" placeholder="請輸入搜尋關鍵字" accesskey="s">
                <input type="button" value="搜尋" id="searchbutton">
                <br>關鍵字：{{ keyWord }} 目前字數： {{tKeyWord.value.length}}
              </div>
          </div>
        </div>
        <!-- Search END -->

        <!-- Calendar START -->
        <div class="widget calendar">
          <h4 class="widget-header">
              文章日曆
              <span class="pull-right"></span>
          </h4>
          <div class="widget-content">
            <div style="text-align: center">
              <div id="calendarContainer">
                <table class="calendar" summary="" style=";border-collapse:collapse;">
                  <tbody>
                    <tr>
                      <td><a href="#">&lt;&lt;</a>&nbsp;&nbsp;</td>
                      <td style="text-align:center;width:100px">五月 2016</td>
                      <td align="right">&nbsp;&nbsp;&gt;&gt;</td>
                    </tr>
                  </tbody>
                </table>
                <table class="calendar" cellspacing="0" cellpadding="2" summary="Post calendar" title="Calendar" style="border-width:0px;border-collapse:collapse;">
                  <tbody>
                    <tr>
                      <th align="center" abbr="星期一" scope="col">週一</th>
                      <th align="center" abbr="星期二" scope="col">週二</th>
                      <th align="center" abbr="星期三" scope="col">週三</th>
                      <th align="center" abbr="星期四" scope="col">週四</th>
                      <th align="center" abbr="星期五" scope="col">週五</th>
                      <th align="center" abbr="星期六" scope="col">週六</th>
                      <th align="center" abbr="星期日" scope="col">週日</th>
                    </tr>
                    <tr>
                      <td class="other" align="center" style="width:14%;">25</td>
                      <td class="other" align="center" style="width:14%;">26</td>
                      <td class="other" align="center" style="width:14%;">27</td>
                      <td class="other" align="center" style="width:14%;">28</td>
                      <td class="other" align="center" style="width:14%;">29</td>
                      <td class="other" align="center" style="width:14%;"><a href="http://blog.miniasp.com/2016/04/30/default.aspx" class="exist">30</a></td>
                      <td class="weekend" align="center" style="width:14%;">1</td>
                    </tr>
                    <tr>
                      <td align="center" style="width:14%;">2</td>
                      <td align="center" style="width:14%;">3</td>
                      <td align="center" id="today" style="width:14%;">4</td>
                      <td align="center" style="width:14%;">5</td>
                      <td align="center" style="width:14%;">6</td>
                      <td class="weekend" align="center" style="width:14%;">7</td>
                      <td class="weekend" align="center" style="width:14%;">8</td>
                    </tr>
                    <tr>
                      <td align="center" style="width:14%;">9</td>
                      <td align="center" style="width:14%;">10</td>
                      <td align="center" style="width:14%;">11</td>
                      <td align="center" style="width:14%;">12</td>
                      <td align="center" style="width:14%;">13</td>
                      <td class="weekend" align="center" style="width:14%;">14</td>
                      <td class="weekend" align="center" style="width:14%;">15</td>
                    </tr>
                    <tr>
                      <td align="center" style="width:14%;">16</td>
                      <td align="center" style="width:14%;">17</td>
                      <td align="center" style="width:14%;">18</td>
                      <td align="center" style="width:14%;">19</td>
                      <td align="center" style="width:14%;">20</td>
                      <td class="weekend" align="center" style="width:14%;">21</td>
                      <td class="weekend" align="center" style="width:14%;">22</td>
                    </tr>
                    <tr>
                      <td align="center" style="width:14%;">23</td>
                      <td align="center" style="width:14%;">24</td>
                      <td align="center" style="width:14%;">25</td>
                      <td align="center" style="width:14%;">26</td>
                      <td align="center" style="width:14%;">27</td>
                      <td class="weekend" align="center" style="width:14%;">28</td>
                      <td class="weekend" align="center" style="width:14%;">29</td>
                    </tr>
                    <tr>
                      <td align="center" style="width:14%;">30</td>
                      <td align="center" style="width:14%;">31</td>
                      <td class="other" align="center" style="width:14%;">1</td>
                      <td class="other" align="center" style="width:14%;">2</td>
                      <td class="other" align="center" style="width:14%;">3</td>
                      <td class="other" align="center" style="width:14%;">4</td>
                      <td class="other" align="center" style="width:14%;">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>
              <a href="http://blog.miniasp.com/calendar/default.aspx">View posts in large calendar</a>
            </div>
          </div>
        </div>
        <!-- Calendar END -->

        <!-- CategoryList START -->
        <div class="widget categorylist">
          <h4 class="widget-header">
              文章分類
              <span class="pull-right"></span>
          </h4>
          <div class="widget-content">
            <ul id="categorylist">
              <li>
                <a href="http://blog.miniasp.com/category/feed/Net.aspx" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for .Net" class="rssButton"></a><a href="http://blog.miniasp.com/category/Net.aspx"
                  title="分類: .Net">.Net (199)</a></li>
              <li>
                <a href="http://blog.miniasp.com/category/feed/Accessibility.aspx" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for Accessibility" class="rssButton"></a><a href="http://blog.miniasp.com/category/Accessibility.aspx"
                  title="分類: Accessibility">Accessibility (3)</a></li>
              <li>
                <a href="http://blog.miniasp.com/category/feed/AngularJS.aspx" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for AngularJS" class="rssButton"></a><a href="http://blog.miniasp.com/category/AngularJS.aspx"
                  title="分類: AngularJS">AngularJS (7)</a></li>
              <li>
                <a href="http://blog.miniasp.com/category/feed/ASPNET.aspx" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for ASP.NET" class="rssButton"></a><a href="http://blog.miniasp.com/category/ASPNET.aspx"
                  title="分類: ASP.NET">ASP.NET (217)</a></li>
            </ul>

          </div>
        </div>
        <!-- CategoryList END -->

        <!-- MVP START -->
        <div class="widget textbox">
          <h4 class="widget-header">
              微軟最有價值專家
              <span class="pull-right"></span>
          </h4>
          <div class="widget-content">
            <p>
              <a title="Will 保哥於 2008 年 4 月獲得微軟技術社群暨最有價值專家 第七屆第三回合微軟「最有價值專家」(Most Valuable Professional, MVP)，主要得獎領域是在 ASP/ASP.NET 技術與線上社群部分。"
                href="http://blog.miniasp.com/post.aspx?id=92fd882f-78b7-4791-94f7-df5742d41220"><img src="/assets/images/MVP_FullColor_ForBlog.jpg" alt="Will 保哥於 2008 年 4 月獲得微軟技術社群暨最有價值專家 第七屆第三回合微軟「最有價值專家」(Most Valuable Professional, MVP)，主要得獎領域是在 ASP/ASP.NET 技術與線上社群部分。"
                  border="0"></a>
            </p>
          </div>
        </div>
        <!-- MVP END -->

      </div>
    </aside>
    <!-- Aside END -->
  </div>
</section>
<!-- CONTAINER END -->


<!-- FOOTER START -->
<app-footer></app-footer>
<!-- Footer END -->
