<header class="post-header">
  <h2 class="post-title">
      <a *ngIf="!isEdit" [href]="item.href">{{item.title}}</a>
      <input #tInput type="text" size="60" [(ngModel)]="item.title"
        *ngIf="isEdit"
        (keyup.enter)="doChangeTitle()"
        (keyup.escape)="onCanel()"
      >
  </h2>
  <div class="post-info clearfix">
    <span class="post-date"><i class="glyphicon glyphicon-calendar"></i>{{ item.date }}</span>
    <span class="post-author"><i class="glyphicon glyphicon-user"></i><a href="http://blog.miniasp.com/author/will.aspx">{{item.author}}</a></span>
    <span class="post-category"><i class="glyphicon glyphicon-folder-close"></i><a [href]="item['categoryLink']">{{item.category}}</a></span>
  </div>
  <span>
    <!-- 什麼時候要發射事件？  註冊click事件，通知父元件有事件發生 -->
    <button (click)="doDeleteArticle()">刪除文章</button>
    <button *ngIf="!isEdit" (click)="isEdit=true">編輯文章</button>
    <button *ngIf="isEdit" (click)="onCanel()">取消編輯</button>
  </span>
</header>
